body {
    background: rgb(51, 29, 44);
    font-family: Arial, sans-serif;
    color: rgb(239, 225, 209);
}

h1 {
    color: rgb(255, 204, 0);
    text-align: center;
    font-size: 36px;
}

.page {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid rgb(63, 46, 62);
    background-color: rgba(167, 130, 149, 0.9);
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center; /* This centers the flex items (li elements) horizontally */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li button {
    background: rgb(255, 204, 0);
    border: 5px solid rgb(63, 46, 62);
    color: rgb(51, 29, 44);
    font-size: 150%;
    cursor: pointer;
    transition: color 0.3s ease;
  }
   

nav ul li button:hover {
    color: rgb(255, 255, 255);
}

#hamIcon {
    display: none;
    background: none;
    border: none;
    color: rgb(255, 204, 0);
    font-size: 20px;
    cursor: pointer;
}

/* PAGE 1 */
/* Origin */

/* Styling for the content section */
.Origin {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Origin div:nth-child(1) {
    flex: 2;
    text-align: right;
    padding-top: 1%;
    padding-right: 6.5%;
}

/* IMAGE */
.Origin div:nth-child(2) {
    flex: 1;
}

.Origin div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 5%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}


/* Evolution */

/* Styling for the content section */
.Evolution {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Evolution div:nth-child(1) {
    flex: 2;
    padding-top: 1%;
    padding-left: 6.5%;
}

/* IMAGE */
.Evolution div:nth-child(2) {
    flex: 1;
}

.Evolution div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Standardization */

/* Styling for the content section */
.Standardization {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Standardization div:nth-child(1) {
    flex: 2;
    text-align: right;
    padding-top: 1%;
    padding-right: 6.5%;
}

/* IMAGE */
.Standardization div:nth-child(2) {
    flex: 1;
}

.Standardization div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Television */

/* Styling for the content section */
.Television {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Television div:nth-child(1) {
    flex: 2;
    padding-top: 1%;
    padding-left: 6.5%;
}

/* IMAGE */
.Television div:nth-child(2) {
    flex: 1;
}

.Television div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 6%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Professionalization */

/* Styling for the content section */
.Professionalization {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Professionalization div:nth-child(1) {
    flex: 2;
    text-align: right;
    padding-top: 1%;
    padding-right: 6.5%;
}

/* IMAGE */
.Professionalization div:nth-child(2) {
    flex: 1;
}

.Professionalization div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 7%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/*Popularity & Global Reach*/
.PGR {
    text-align: center;
}

/* PAGE 2 */

/* Straight */

/* Styling for the content section */
.Straight {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Straight div:nth-child(1) {
    flex: 2;
    padding-top: 1%;
    padding-left: 6.5%;
}

/* IMAGE */
.Straight div:nth-child(2) {
    flex: 1;
}

.Straight div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 2%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* FrontLoad */

/* Styling for the content section */
.FrontLoad {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.FrontLoad div:nth-child(1) {
    flex: 2;
    text-align: right;
    padding-top: 1%;
    padding-right: 6.5%;
}

/* IMAGE */
.FrontLoad div:nth-child(2) {
    flex: 1;
}

.FrontLoad div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 2%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Rear-Weighted Barrel */

/* Styling for the content section */
.BackLoad {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.BackLoad div:nth-child(1) {
    flex: 2;
    padding-top: 1%;
    padding-left: 6.5%;
}

/* IMAGE */
.BackLoad div:nth-child(2) {
    flex: 1;
}

.BackLoad div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Coated Barrel */

/* Styling for the content section */
.Coated {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Coated div:nth-child(1) {
    flex: 2;
    text-align: right;
    padding-top: 1%;
    padding-right: 6.5%;
}

/* IMAGE */
.Coated div:nth-child(2) {
    flex: 1;
}

.Coated div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* PAGE 3 */

/* Phil Taylor */

/* Styling for the content section */
.PhilTaylor {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.PhilTaylor div:nth-child(1) {
    flex: 2;
    padding-top: 10%;
    padding-left: 6.5%;
}

/* IMAGE */
.PhilTaylor div:nth-child(2) {
    flex: 1;
}

.PhilTaylor div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Paul Lim */

/* Styling for the content section */
.PaulLim {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.PaulLim div:nth-child(1) {
    flex: 2;
    text-align: right;
    padding-top: 3%;
    padding-right: 6.5%;
}

/* IMAGE */
.PaulLim div:nth-child(2) {
    flex: 1;
}

.PaulLim div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

/* Michael van Gerwen */

/* Styling for the content section */
.Gerwen {
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
    height: 50%;
    width: 100%;
}

/* Text */
.Gerwen div:nth-child(1) {
    flex: 2;
    padding-top: 4%;
    padding-left: 6.5%;
}

/* IMAGE */
.Gerwen div:nth-child(2) {
    flex: 1;
}

.Gerwen div img {
    margin: 0 auto;
    /* Add this line to center the image horizontally */
    display: block;
    /* Add this line to center the image horizontally */
    padding-top: 0%;
    max-width: 100%;
    /* Modify width to allow responsiveness */
    width: 60%;
    height: auto;
    /* Modify height to maintain aspect ratio */
}

@media screen and (max-width: 800px) {
    nav ul {
        display: none;
    }

    #hamIcon {
        display: block;
        border: 5px solid rgb(63, 46, 62);
        background: rgb(255, 204, 0);
        color: rgb(51, 29, 44);
    }

    #menuList.menuShow {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .page {
        max-width: 80%;
    }
    

    /* PAGE 1 */
    /* Origin */
    .Origin {
        flex-direction: column;
        align-items: center;
    }
    
    .Origin div:nth-child(1) {
        text-align: center;
    }

    /* Evolution */
    .Evolution {
        flex-direction: column;
        align-items: center;
    }
    
    .Evolution div:nth-child(1) {
        text-align: center;
    }

    /* Standardization */
    .Standardization {
        flex-direction: column;
        align-items: center;
    }
    
    .Standardization div:nth-child(1) {
        text-align: center;
    }

    /* Television */
    .Television {
        flex-direction: column;
        align-items: center;
    }
    
    .Television div:nth-child(1) {
        text-align: center;
    }

    /* Professionalization */
    .Professionalization {
        flex-direction: column;
        align-items: center;
    }
    
    .Professionalization div:nth-child(1) {
        text-align: center;
    }

    /* Popularity & Global Reach */
    .PGR {
        flex-direction: column;
        align-items: center;
    }
    
    .PGR div:nth-child(1) {
        text-align: center;
    }
}